<nav class="ui inverted menu">
    <header class="header item"><a href="/"> <i class="ireland flag"></i><i class="bitcoin icon"></i> ATM POI Directory </a></header>
  <div class="right menu">
    <a id="home"   class= "item" href="/home"> Add &nbsp<i class="bitcoin icon"></i> ATM</a>
    <a id="list" class= "item" href="/list"> <i class="bitcoin icon"> </i> ATM LIST </a>
    <a id="settings" class= "item" href="/settings"> <i class="cogs icon"></i> Settings</a>
    <a id="settings" class= "item" href="/gallery"> <i class="images icon"></i> Gallery</a>
    <a id="logout" class= "item" href="/logout"> <i class="skull crossbones icon"> </i> Logout </a>
  </div>
</nav>

<script>
  $("#{{_id}}").addClass("active item");
</script>
