{{> mainmenu _id="gallery" }}

<section class="ui raised segment">
    <h3 class="ui header"><i class="bitcoin icon"></i>ATM Gallery</h3>

<div class="uk-child-width-1-1@m uk-grid-small uk-grid-match" uk-grid>
  <div>
    {{> upload }}
  </div>
</div>

<div class="uk-container uk-padding-small">
  <div class="uk-child-width-1-4@s uk-flex uk-flex-center" uk-grid uk-height-match="target: .uk-card">
    {{#each images}}
      {{> card}}
    {{/each}}
  </div>
</div>
</section>
